@{
    ViewData["Title"] = "Authorize";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Token: @ViewBag.message.Access_token</p>
    <p>Scope: @ViewBag.message.Scope</p>
    <p>Token_type: @ViewBag.message.Token_type</p>
</div>
